.ai-image-generator{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 20px;
    gap: 30px;
}

.header{
    font-size: 70px;
    font-weight: 700;
    padding-bottom: 30px;
}

.header span{
    color: #FF6B6B;
}

.img-loading{
    display: flex;
    flex-direction: column;
}

.img-loading img{
    width: 512px;
}

.search-box{
    display: flex;
    width: 1000px;
    justify-content: space-around;
    height: 95px;
    align-items: center;
    border-radius: 50px;
    background: #1f3540;
}

.search-input{
    width: 600px;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    color: white;
    padding-left: 35px;
    padding-right: 35px;
}

.search-input::placeholder{
    color: #999;
}

.generate-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 85px;
    border-radius: 50px;
    background: #de1b89;
    cursor: pointer;
}

.img-loading {
    position: relative;
  }
  
  .loading-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px; /* Adjust the height of the loading line */
    background-color: #007bff; /* Adjust the color of the loading line */
    animation: loadingAnimation 2s linear forwards; /* Adjust the animation duration */
  }
  
  @keyframes loadingAnimation {
    from { width: 0; }
    to { width: 100%; }
  }
  